.c1{
    padding-top: 15px;
    padding-bottom: 15px;
}



.t1{
    color: rgb(6, 255, 172);
    background-color: rgb(194, 248, 248);
    border-style: groove;
    border-width: 1px;
    border-color: antiquewhite;
    border-radius: 8px;
    font-family: "Times New Roman", Times, serif;
}


.c2{
    color: rgb(3, 102, 119);
}


.i1{
    background-color: aliceblue;
    border-style: groove;
    border-width: 2px;
    border-color: aquamarine;
    border-radius: 8px;
    
}